body{
    margin: 0;
    padding: 0;
    font-family: "Kalam";
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 25px 45px;
    background: #1e1e1e;
    position:relative;
}
.hambi{
    display: none;
}
.links a, .brand a{
    padding: 5px 10px;
    text-decoration: none;
    color: #f2f2f2;
    text-transform: uppercase;
    font-size: 24px;
}
.links a:hover, .brand a:hover{
    border-radius: 5px;
    background: #f2f2f2;
    color: #770048;
}
.links a:last-of-type{
    margin-left: 25px;
}
.main{
    height: calc(100vh - 89px);
    background: url('../img/landingFinal1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}
.user-menu{
    width: 400px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e1e1e;
    position: absolute;
    border-radius: 5px;
    top: 20px;
    right: 20px;
}
.user-menu span{
    padding: 5px 10px;
    color: #f2f2f2;
    background: #770048;
    border-radius: 5px;
}
.mountain{
    width: 150px;
    height: auto;  
    position: absolute;
    top: 0;
    left: 39%;
    transition: all 0.3s ease-in-out;
}
.mountain:hover{
    transform: scale(1.2);
}

/* .app-menu{
    width: 600px;
    padding: 20px 0;
    background: rgba(119, 0, 72, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 300px);
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
    cursor:pointer;
}
.option img{
    width: 45px;
    height: auto;
    transition: all 0.2s ease-in-out;
}
.option img:hover{
    transform: scale(1.3);
} */
.option{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgba(119, 0, 72, 0.7);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;

}

.option img{
    width: 75px;
    height: auto;
    transition: all 0.3s ease-in-out;
}
.option img:hover{
    transform: scale(1.2);
}
.stake{
    left: 20%;
    bottom: 20%;  
}
.album{
    left: 60%;
    bottom: 20%;  
}
.challenges{
    left: 10%;
    top: 100px;  
}
.market{
    left: 55%;
    top: 100px;  
}
@media screen and (max-width: 600px){
    .links{
        display: none;
    }
    .hambi{
        width: 35px;
        height: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
    }
    .hambi span{
        height: 2px;
        width: 100%;
        background: #f2f2f2;
    }
    
    
    .open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(30, 30, 30, 0.8);
        position: absolute;
        top: 89px;
        right: 0;
        width: 100%;
        height: calc(100vh - 89px);
        z-index: 2;
    }
    
    .links a:last-of-type{
        margin-left:0;
        margin-top: 50px;
    }
    .stake{
        left: 10%;
        
    }
    .album{
        left: 55%;
    }
}
